* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  height: 50%;
  justify-content: center;
  flex-direction: column;
}

.header__text {
  margin-top: 64px;
  margin-left: 188px;
  margin-right: 189px;
  margin-bottom: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  border: 1px solid;

  color: #000000;
}
.header__button {
  display: flex;
  justify-content: center;
}
button {
  padding: 13px 55px;
}

.footer {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
}

.footer__text {
  /* justify-content: center; */
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  justify-content: center;

  /* align-items: flex-start;
  text-align: center; */
}

.footer__input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__left-input {
}

.footer_input2 {
}

.footer__button {
  display: flex;
  justify-content: center;
}

.line {
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  top: 379px;

  border: 1px solid #000000;
  transform: rotate(0.07deg);
}
