.app-wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  height: 50%;
  justify-content: center;
  flex-direction: column;
}

.header_text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;

  color: #000000;
}
.header_button {
  display: flex;
  justify-content: center;
}

button {
  padding: 13px 55px;
}

.footer {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
}

.footer_text {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  align-items: center;
  text-align: center;
}

.footer_inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer_input1 {
}

.footer_input2 {
}

.footer_button {
  display: flex;
  justify-content: center;
}
